
//inner tabs
.tabbable
  ul.nav.nav-tabs
    for devices, category in categories
      li
        a(href="##{topic2id('config', driver, category)}", data-toggle="tab")=category
  .tab-content
    for devices, category in categories
      .tab-pane(id="#{topic2id('config', driver, category)}")
        for values, device in devices
          .config-device(id="#{topic2id('config', driver, category, device)}")
            .config-device-header
              h3=device
              a.btn.config-delete(data-topic="#{topic2id('config', driver, category, device)}")
                i.icon-trash
            .config-device-body
              //table
              table.table
                thead
                  tr
                    th Key
                    th Value
                    th
                      a.float-right.btn.config-add(href="#")
                        i.icon-plus
                tbody
                  for value, key in values
                    tr(id="#{topic2id('config', driver, category, device, key)}")
                        td.config-key=key
                        td 
                          input.config-input(name="#{topic2id('config', driver, category, device, key)}", value=value)
                          a.btn.hidden.config-save(href="#") 
                            i.icon-ok
                        td
                          a.btn.config-delete(data-topic="#{topic2id('config', driver, category, device, key)}")
                            i.icon-trash


